Permisos de: <%= @worker.first_name %>

<ol>
  <% @permissions.each do |p| %>
    <li>
        <ul>
          <li>Comienzo: <%= p.permission_start_date %> </li>
          <li>Reincorporación: <%= p.permission_rejoin_date %> </li>
          <li>Comentarios: <%= p.comment %> </li>
          <li>Parte entregado: <%= p.note %> </li>
        </ul>
    </li>
  <% end %>
</ol>
