<p>Link para crear nuevo periodo o por formulario?</p>
<ol>
  <% @workers.each do |worker| %>
    <li>
      <% if worker.avatar.attached? %>
        <div style="background-image: url(<%= rails_blob_url(worker.avatar) %>);background-position: center;
                    background-size: cover;    height: 35px; border-radius: 50%; width: 35px;">

        </div>
      <% else %>
        <%= image_tag "avatars/#{worker.set_avatar}", alt: "alttext", style:"height: 35px; border-radius: 50%; width: 65px;" %>
      <% end %>
      <%= worker.first_name %>
      <%= link_to t('components.links.view'), worker_path(worker)  %>
    </li>
  <% end %>
</ol>
<%= link_to t('components.links.log_out'), destroy_user_session_path, :method => :delete  %>
