Ficha de: <%= @worker.first_name %> <%= @worker.last_name %>
<% if @worker.avatar.attached? %>
  <div style="background-image: url(<%= rails_blob_url(@worker.avatar) %>);background-position: center;
              background-size: cover;    height: 35px; border-radius: 50%; width: 35px;">

  </div>
<% else %>
  <%= image_tag "avatars/#{@worker.set_avatar}", alt: "alttext", style:"height: 35px; border-radius: 50%; width: 65px;" %>
<% end %>
<ol>
  <li><%= t('model.columns.birthday') %>: <%= @worker.birth_date %> </li>
  <li><%= t('model.columns.start_date') %>: <%= @worker.start_date %></li>
  <li><%= t('model.columns.department') %>: <%= @worker.department.name_of_department %></li>
  <li><%= t('model.columns.sin_num') %>: <%= @worker.sin_num %></li>
  <li><%= t('model.columns.personal_email') %>: <%= @worker.personal_email %></li>
  <li><%= t('model.columns.company_email') %>: <%= @worker.ga_email %></li>
  <li><%= t('model.columns.id_num') %>: <%= @worker.id_num %></li>
  <li><%= t('model.columns.contract') %>: <%= @worker.type_of_contract.name_type_of_contract %></li>
  <li><%= t('model.columns.genre') %>: <%= @worker.genre.type_of_genre %></li>
  <li><%= t('model.columns.phone_num') %>: <%= @worker.phone_number %></li>
  <li><%= t('model.columns.bank_account') %>: <%= @worker.bank_account %></li>
  <li><%= t('model.columns.shift') %>: <%= @worker.type_of_shift.name_of_shift %></li>
  <li><%= t('model.columns.position') %>: <%= @worker.position.name_of_position %></li>
  <li><%= t('model.columns.group') %>: <%= @worker.group.type_of_group %></li>
  <li><%= t('model.columns.level') %>: <%= @worker.level.type_of_level %></li>
  <li><%= t('model.columns.area') %>: <%= @worker.area.type_of_area %></li>
  <li><%= t('model.columns.trial_period') %>: <%= @worker.trial_period %></li>
  <li><%= t('model.columns.notice_period') %>: <%= @worker.notice_period %></li>
  <li><%= t('model.columns.salary') %>: <%= @worker.annual_salary %></li>
</ol>
Documentos:
<% if @worker.files.attached? %>
  <% @worker.files.each do |doc| %>
    <%= link_to doc.filename, rails_blob_path(doc, disposition: 'preview'),target: "_blank" %>   |
  <% end %>
<% end %>
