Bajas de: <%= @worker.first_name %>

<ol>
  <% @sicks.each do |s| %>
    <li>
        <ul>
          <li><%= t('model.columns.start_date_sickness') %>: <%= s.start_date_sickness %> </li>
          <li><%= t('model.columns.rejoin_date_sickness') %>: <%= s.rejoin_date_sickness %> </li>
          <li><%= t('model.columns.comment') %>: <%= s.comment %> </li>
          <li><%= t('model.columns.doctor_note') %>: <%= s.doctor_note_sickeness %> </li>
          <li><%= t('model.columns.rejoin_note') %>: <%= s.rejoin_note_sickeness %> </li>
          <li><%= t('model.columns.type_of_sickness') %>: <%= s.type_of_sickness %> </li>
        </ul>
    </li>
  <% end %>
</ol>
