<!DOCTYPE html>
<html>
  <head>
    <title>HrmSoftware</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <%= yield %>
  <% if !!flash[:errors] %>
2  <% flash[:errors].each do |e| %>
3    <p><%= e %></p> <br>
4    <% end %>
5  <% end %>
  </body>
</html>
